<!DOCTYPE html>
<html lang="en">

{{> head }}

<body>

    {{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>About Page</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quae ipsa magnam accusamus veritatis iste aliquam tempore ab cupiditate, sed libero necessitatibus, 
                modi facilis ducimus doloremque a ipsam ea suscipit dolore?
            </p>
        </div>

        <div class="col-4">
            <img src="assets/images/iron-man.png" class="img-thumbnail">
        </div>
    </div>

    {{> footer }}

</body>

</html>